@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-bg: #fff;
    --color-text: #000;
  }
  
  .dark {
    --color-bg: #1B062E;
    --color-text: #fff;
  }
  
  body {
    background-color: var(--color-bg);
    color: var(--color-text);
  }